build/
build*/
!buildtools/
!buildtest/
*.swp
*.gch
*.csv
!/scenariotest/simulink_test/*.csv
*.diff
*.mat
!/src/unittests/container/*.mat
!/src/scenariotest/scenarioData/*.mat
/html
/latex
doxygen/latex
doxygen/html
!Patch_Areas_Save.csv
!Patch_Temperatures_Save.csv
!Patch_Vertices_Save.csv
a.out
tags
*CMakeCache.txt
CMakeFiles/
*.mexw*.pdb
*.mexw*
*.mexa*
/Debug
/DebugMatlab
src/version/version.cpp
src/version/version.h
src/exceptions/xmlData.cpp
*.orig
FINAL_RELEASE/
MexRelease/
compile_commands.json
.vscode/
__pycache__/
/scenariotest/standalone_test/*/*
!/scenariotest/standalone_test/*/reference/**
!/scenariotest/standalone_test/*.csv
!/scenariotest/simulink_test/reference/*/*.mat
!/scenarios/*/*.csv
secrets/
testing/*
.idea
cmake-build-*
